<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body style="background-color: #f0f0f0;">

	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="row">
				<div class="col-xs-8">
					<h2 class="section-headline">
						<span>Help Center</span>
					</h2>
				</div>

			</div>
			<img class="img-responsive" src="/image/wood.png"
				style="margin-top: -75px;" />
		</div>


		<div class="row" style="margin-top: 120px;">
			<div class="col-xs-9 col-xs-offset-3">
				<h3>Shopping</h3>
				<hr />
				<h4 class="question">Q: How do I make a purchase?</h4>
				<p>A:&nbsp;Shop from the clothing mall after registering as a
					user.</p>
				<h4 class="question">Q: What are the steps to create an
					account?&nbsp;</h4>
				<p>A: From the top right corner, find the option for user
					registration and start registering.</p>

				<h4 class="question">Q: When will my order be processed and
					shipped?</h4>
				<p>A: 3 to 5 days for normal users. 1 to 3 days for member
					users.</p>

				<h4 class="question">Q: Is there a guarantee that all items are
					in stock?</h4>
				<p>A: All items are determined by the developer.</p>

				<h4 class="question">Q: Why can't I shop from the mall anymore?</h4>
				<p>A:&nbsp; This item is no longer available at the mall.</p>
				<h4 class="question">Q: What if I can't find the item I want
					from the mall?</h4>
				<p>A:&nbsp;You need to go to a nearby chain store to find the
					items you want.</p>
				<h4 class="question">Q: How do I track my order status?</h4>

				<p>A: You can log in to your account and then look up your
					purchases from your account. You can also reach me by email. The
					eamil is jianghuang588@gmail.com.</p>

				<h4 class="question">Q: Is it possible to cancel or alter my
					order?</h4>
				<p>A: The store does not support returns.</p>

				<h3>Delivery&nbsp;</h3>
				<hr />
				<p>Our store provides you with a professional shipping process.</p>
				<h4 class="question">Q: How Much Does Transportation Cost?</h4>
				<p>A: Free shipping in the U.S. on any item purchased from this
					store.</p>
				<h4 class="question">Q. How do you handle shipping?</h4>
				<p>A: Our items were shipped by UPS.</p>
			</div>
		</div>
	</div>

	<div th:replace="common/header :: footer" />


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
